.content-item {
  flex: 1 1 calc(25% - 20px);
  min-width: calc(15% - 20px);
  box-sizing: border-box;
  background: #ebebeb;
  padding: 0px;
  border-radius: 8px;
  list-style: none;
  margin: 10px;
}
.content-item img{
    width: 285px;
    height: 150px;
    margin: auto;
    text-align: center;
}
.content-item h3{
    color:black;
    padding-left: 15px !important;
    margin: 0;
}
.des{
    display: flex;
}
.content-item p{
    color:#e03c31;
    font-size: 16px;
    font-weight: normal;
    padding-left: 15px !important;
    margin: 0px;
    margin-bottom: 20px;
    font:"roboto-medium", Helvetica, Arial, sans-serif;
}